<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zkx.springboot.dao.UserDao">

    <select id="findById" resultType="com.zkx.springboot.entity.User">
        select
        t.id,t.user_name userName,t.age,t.gender
        from t_user t
        where t.id = #{value}
    </select>

</mapper>